@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "overpass", sans-serif;
}

main {
  background-color: #131518;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.card {
  width: 412px;
  height: 416px;
  background-color: #1e242e;
  border-radius: 30px;
  padding: 32px 39px 32px 32px;
}

button.svg {
  width: 48px;
  height: 48px;
  border-radius: 80px;
  border: none;
  background-color: #262e38;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg {
  width: 19px;
  height: 19px;
  fill: #fc7614;
}

h1 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
  margin-top: 30px;
}

p {
  color: #969fad;
  font-size: 15px;
  font-weight: 400;
  margin-top: 7px;
}

div.buttons {
  display: flex;
  gap: 21px;
  margin-top: 24px;
}

div.buttons button {
  background-color: #262e38;
  color: #7c8798;
  border: none;
  border-radius: 999px;
  font-weight: 700;
  font-size: 16px;
  width: 51px;
  height: 51px;
}

button.submit {
  width: 341px;
  height: 45px;
  border-radius: 22.5px;
  border: none;
  background-color: #fc7614;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: 32px;
}
